.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
media/**
assets/with*.webp
assets/*.png
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
private.txt